<%- include("../admin-header"); -%>

<style>
    .input-field div.error {
        position: relative;
        top: -1rem;
        left: 0rem;
        font-size: 0.8rem;
        color: #FF4081;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }

    .input-field label.active {
        width: 100%;
    }

    input[type="text"]:disabled {
        color: rgba(0, 0, 0, 0.87) !important
    }
</style>

<section id="content">

    <!--breadcrumbs start-->
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h5 class="breadcrumbs-title">Categories</h5>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->

    <style>
        ul {
            list-style-type: disclosure-closed;
        }
        ul li {
            list-style-type: disclosure-closed;
        }
    </style>

    <!--start container-->
    <div class="container">
        <p class="caption">Add, Edit or Remove Category Items.</p>
        <div class="divider"></div>
        <div class="row">
            <h4 class="header">Items</h4>
            <div class="">
                <table id="data-table-cats" class="responsive-table display" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Steps</th>
                            <th>Available</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% for (i in cats) {
                            var cat = cats[i]; %>
                        <tr id='<%= cat.id %>'>
                            <td>
                                <%= cat.name %>
                            </td>
                            <td>
                                <ul class="">
                                    <% for (i in cat.steps) { let step = cat.steps[i]; %>
                                    <li class=""><%= step.name %></li>
                                    <% } %>
                                </ul>
                            </td>
                            <td>
                                <% if (cat.available == 'true') { %>
                                <input type="checkbox" name='available' checked='checked' id='<%=i%>_available' />
                                <label for='<%=i%>_available'>Available</label>
                                <% } else { %>
                                <input type="checkbox" name='available' id='<%=i%>_available' />
                                <label for='<%=i%>_available'>Not Available</label>
                                <% } %>
                            </td>
                            <td>
                                <button class="btn blue waves-effect waves-light" name='update'><i
                                        class="mdi-content-create"></i></button>
                                <button class="btn cyan waves-effect waves-light" name='delete'><i
                                        class="mdi-action-delete"></i></button>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- <div class="divider"></div> -->
        <div class="formValidate" id="formValidate1" style="padding-bottom: 10em">
            <div class="col s12">
                <h4 class="header">Add Item</h4>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l5">
                    <label for="categoryName">Category Name</label>
                    <input type="text" name="categoryName" id = 'categoryName'/>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <label for="">Step Name</label>
                </div>
                <div class="col s3">
                    <label for="">Step Type</label>
                </div>
                <div class="col s4">
                    <label for="">Collection</label>
                </div>
                <div class="col s1">
                    <label for="">Delete</label>
                </div>
            </div>
            <div class="row categoryAction">
                <a class="insertStep btn btn-lg blue waves-effect waves-light">Insert New Step <i class="mdi-content-add"></i></a>
                <a class="addCategory btn btn-lg right waves-effect waves-light">Add New Category <i class="mdi-content-send"></i></a>
                <a style="margin-right:1em" class="cancel btn btn-lg right waves-effect waves-light yellow darken-4">Cancel Editing <i class="mdi-content-send"></i></a> 
            </div>
        </form>
    </div>

    <div class="divider"></div>
    <!--end container-->

</section>

<script>
    var siteUrl = '<%= siteUrl %>';
    console.log('active', '<%= active %>');
    console.log('controller', '<%= controller %>');
    let stepTemplate = '<div class="row step">\
                <div class="input-field col s4">\
                    <input type="text" name="stepName" />\
                </div>\
                <div class="input-field col s3">\
                    <select name="stepType">\
                        <% for (type in Constants.StepType) { let name = Constants.StepType[type]; %><option value="<%= type %>"><%= name %></option>\<% } %>
                    </select>\
                </div>\
                <div class="input-field col s4">\
                    <select name="stepCollection">\
                        <% for (i in Constants.Collections) {
                            let collection = Constants.Collections[i]; %><option value="<%= collection %>"><%= collection %></option>\<% } %>
                    </select>\
                </div>\
                <div class="input-field col s1">\
                    <a class="deleteStep btn btn-floating cyan waves-effect waves-light" ><i class="mdi-content-clear"></i></a>\
                </div>\
            </div>';
</script>

<%- include("../admin-footer"); -%>