<%- include("../admin-header"); -%>

<style>
    .input-field div.error {
        position: relative;
        top: -1rem;
        left: 0rem;
        font-size: 0.8rem;
        color: #FF4081;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
    .input-field label.active {
        width: 100%;
    }
    .dataTables_filter {
        display: none
    }
</style>

<section id="content">

    <!--breadcrumbs start-->
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h5 class="breadcrumbs-title">Products</h5>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->


    <!--start container-->
    <div class="container">
        <p class="caption">Add, Edit or Remove Products.</p>
        <div class="divider"></div>

        <div class="row">
            <div class='col s4 m4 l4'>
      
            </div>
            <div>
                
            </div>
        </div>

        <!-- <div class="divider"></div> -->
        <form class="formValidate" id="formValidate1" method="post" action="#" novalidate="novalidate">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h4 class="header">Add Products</h4>
                </div>
                <div >
                    <ul id="issues-collection" class="collection">
                        <li class="collection-item avatar">
                            <i class="mdi-content-content-paste red circle"></i>
                            <span class="collection-header">Product No. 1</span>
                            <p><strong>Title :</strong> <input id="" type="text"></p>
                            <p><strong>Payment Type:</strong> Wallet</p>
                            <p><strong>Sou:</strong>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="input-field col s12">
                    <a class="btn cyan waves-effect waves-light right" id="add">Add
                        <i class="mdi-content-send right"></i>
                    </a>
                </div>
        </form>
    </div>

    <div class="divider"></div>

    </div>
    <!--end container-->

</section>

<script>
    var siteUrl = '<%= siteUrl %>';
    console.log('active', '<%= active %>');
    console.log('controller', '<%= controller %>');
</script>

<%- include("../admin-footer"); -%>

<script>
    $("#formValidate1").validate({
        rules: {
            name: {
                required: true,
                minlength: 5,
                maxlength: 20
            },
            price: {
                required: true,
                number : true
            },
        },
        messages: {
            name: {
                required: "Enter item name",
                minlength: "Minimum length is 5 characters",
                maxlength: "Maximum length is 20 characters"
            },
            price: {
                required: "Enter item price"
            },
        },
        errorElement: 'div',
        errorPlacement: function (error, element) {
            var placement = $(element).data('error');
            if (placement) {
                $(placement).append(error)
            } else {
                error.insertAfter(element);
            }
        }
    });
</script>