<%- include("../admin-header"); -%>

<style>
    .input-field div.error {
        position: relative;
        top: -1rem;
        left: 0rem;
        font-size: 0.8rem;
        color: #FF4081;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
    .input-field label.active {
        width: 100%;
    }
    .dataTables_filter {
        display: none
    }

    .backdrop{
       background-color: white;
    }

</style>

<section id="content">

    <!--breadcrumbs start-->
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h5 class="breadcrumbs-title">Types of Products</h5>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->


    <!--start container-->
    <div class="container">
        <p class="caption">Add, Edit or Remove Products.</p>
        <div class="divider"></div>

        <div class="row">
            <div class='col s4 m4 l4'>
                <label for = "categoryId">Products in</label>
                <select name = 'category' id = "categoryId" readonly>
                    <% for(j in cats) {
                        let cat = cats[j]; %>
                    <option value="<%= cat.id%>"><%= cat.name%></option>
                    <% } %>
                </select>
            </div>
            <div>
                <table id="data-table-products" class="responsive-table display" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Available</th>
                            <th>Action</th>
                            <th>Category</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% for (i in products) {
                            var product = products[i]; 
                        %>
                        <tr data-key='<%= product.id %>' id = '<%= product.id %>'>
                            <td>
                                <input value="<%= product.name %>" id="<%= product.id %>_name"  type="text" readonly>
                            </td>
                            <td>
                                <input value="<%= product.price %>" id="<%= product.id %>_price"  type="number" readonly>
                            </td>
                            <td>
                                <input value="<%= product.description %>" id="<%= product.id %>_description"  type="text" readonly>
                            </td>
                            <td>
                                <img id="<%= product.id %>_image" name="image" src = "<%= product.image%>" width = "80", height = "80" class="tooltipped" data-position="left" data-delay="50" data-tooltip='<img src = "<%= product.image%>" height = "200px" width="auto"/>'/>
                                <input type = "file" class = "image" hidden />
                            </td>

                            <td>
                                <% if (product.available == 'true') { %>
                                    <input type="checkbox" name='available' checked='checked' id='<%=i%>_available' />
                                    <label for='<%=i%>_available'>Available</label>
                                <% } else { %>
                                    <input type="checkbox" name='available' id='<%=i%>_available' />
                                    <label for='<%=i%>_available'>Not Available</label>
                                <% } %>
                            </td>
                            <td>
                                <button class="btn blue waves-effect waves-light" name='update'><i class="mdi-content-create"></i></button>
                                <button class="btn green waves-effect waves-light" name='save'><i class="mdi-content-save"></i></button>
                                <button class="btn cyan waves-effect waves-light" name='delete'><i class="mdi-action-delete"></i></button>
                            </td>
                            <td>
                                <%= product.category %>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- <div class="divider"></div> -->
        <form class="formValidate" id="formValidate1" method="post" action="#" novalidate="novalidate">
            <div class="row">
                <div class="col s12 m4 l3">
                    <h4 class="header">Add Item</h4>
                </div>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Desription</th>
                                <th>Image</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <div class="input-field col s12">
                                        <label for="name">name</label>
                                        <input id="name" name='name' type="text" data-error=".errorTxt01"/>
                                        <div class="errorTxt01">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-field col s12 ">
                                        <label for="price" class="">Price</label>
                                        <input id="price" name='price' type="text" data-error=".errorTxt02"/>
                                        <div class="errorTxt02"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-field col s12">
                                        <label for="description">Description</label>
                                        <input id="description" name='description' type="text" data-error=".errorTxt03"/>
                                        <div class="errorTxt03">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="file-field input-field col s12">
                                        <div class = "btn">
                                            <span>Browse</span>
                                            <input id="image" name='image' type="file"/>    
                                        </div>
                                        <div class = "file-path-wrapper">
                                            <input class = "file-path validate" type = "text" placeholder = "Upload image" />
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="input-field col s12">
                    <a class="btn btn-lg cyan waves-effect waves-light right" id="add">Add
                        <i class="mdi-content-send right"></i>
                    </a>
                </div>
        </form>
    </div>

    <div class="divider"></div>

    </div>
    <!--end container-->

</section>

<script>
    var siteUrl = '<%= siteUrl %>';
    console.log('active', '<%= active %>');
    console.log('controller', '<%= controller %>');
</script>

<%- include("../admin-footer"); -%>

<script>
    $("#formValidate1").validate({
        rules: {
            name: {
                required: true,
            },
            price: {
                required: true,
                number : true
            },
        },
        messages: {
            name: {
                required: "Enter item name",
            },
            price: {
                required: "Enter item price",
            },
        },
        errorElement: 'div',
        errorPlacement: function (error, element) {
            var placement = $(element).data('error');
            if (placement) {
                $(placement).append(error)
            } else {
                error.insertAfter(element);
            }
        }
    });
</script>