<%- include("partials/header"); -%>
<!-- End header -->

<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Cart</h1>
            </div>
        </div>
    </div>
</div>
<!-- End All Pages -->

<!-- Start Contact -->
<div class="container contact-box">
    <div class="table-responsive bottommargin">
        <table class="table cart">
            <thead>
                <tr>
                    <th class="cart-product-thumbnail">&nbsp;</th>
                    <th class="cart-product-name">Product</th>
                    <th class="cart-product-price">Unit Price</th>
                    <th class="cart-product-quantity">Quantity</th>
                    <th class="cart-product-subtotal">Total</th>
                    <th class="cart-product-shipping">Shipping</th>
                    <th class="cart-product-remove">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <% let total = 0;
                orders.forEach((order) => { %>
                <tr class="cart_item" id = "<%=order.id%>">
                    <td class="cart-product-thumbnail">
                        <a href="#"><img width="64" height="64" src="<%=order.product.image%>" alt="<%=order.product.name%>"></a>
                    </td>

                    <td class="cart-product-name">
                        <a href="#"><%=order.product.name%></a>
                    </td>

                    <td class="cart-product-price">
                        € <%=order.price%>
                    </td>

                    <td class="cart-product-quantity">
                        <%=order.count%>
                    </td>

                    <td class="cart-product-subtotal">
                        € <%=order.price * order.count%>
                    </td>
                    <td>
                        <input id = "delivery-<%=order.id%>" type = "checkbox" <%=order.shipping == "Delivery" ? "checked" : ""%>/>
                        <label for = "delivery-<%=order.id%>"><%=order.shipping%></label>
                    </td>
                    <td class="cart-product-remove">
                        <a class="remove" title="Remove this item"><i class="fa fa-trash fa-lg"></i></a>
                    </td>
                </tr>
                <%  total += order.price * order.count;
            })%>
                <tr class="cart_total">
                    <td colspan="7">
                        <div class="row clearfix">
                            <div class="col-md-4 col-xs-4 nopadding">
                                <h2><b>
                                    Cart Total
                                    <span class="color">€ <%=total%></span>
                                </b></h2>
                            </div>
                            <div class="col-md-8 col-xs-8 nopadding">
                                <!-- <a href="<%=siteUrl%>/checkout" class="button button-3d notopmargin fright">Proceed to Checkout</a> -->
                                <a href="#" id = 'checkout' class="button button-3d notopmargin fright">Proceed to Checkout</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- End Gallery -->
<%- include("partials/footer"); -%>