<%- include("partials/header"); -%>
<!-- End header -->

<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Cart</h1>
            </div>
        </div>
    </div>
</div>
<!-- End All Pages -->

<!-- Start Contact -->
<div class="container contact-box">
    <div class="table-responsive bottommargin">
        <table class="table cart">
            <thead>
                <tr>
                    <th class="cart-product-thumbnail">&nbsp;</th>
                    <th class="cart-product-name">Product</th>
                    <th class="cart-product-price">Unit Price</th>
                    <th class="cart-product-quantity">Quantity</th>
                    <th class="cart-product-subtotal">Total</th>
                    <th class="cart-product-shipping">Shipping</th>
                    <th class="cart-product-remove">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <% orders.forEach((order) => { %>
                <tr class="cart_item" id = "<%=order.id%>">
                    <td class="cart-product-thumbnail">
                        <a href="#"><img width="64" height="64" src="<%=order.product.image%>" alt="<%=order.product.name%>"></a>
                    </td>

                    <td class="cart-product-name">
                        <a href="#"><%=order.product.name%></a>
                    </td>

                    <td class="cart-product-price">
                        € <%=order.price%>
                    </td>

                    <td class="cart-product-quantity">
                        <%=order.count%>
                    </td>

                    <td class="cart-product-subtotal">
                        € <%=order.price * order.count%>
                    </td>
                    <td>
                        <input id = "delivery-<%=order.id%>" type = "checkbox" <%=order.shipping == "Delivery" ? "checked" : ""%>/>
                        <label for = "delivery-<%=order.id%>"><%=order.shipping%></label>
                    </td>
                    <td class="cart-product-remove">
                        <a class="remove" title="Remove this item"><i class="fa fa-trash fa-lg"></i></a>
                    </td>
                </tr>
                <%})%>
            </tbody>
        </table>
    </div>
</div>

<!-- End Gallery -->
<%- include("partials/footer"); -%>